#container{
    width:100%;
    display:table;
    position:fixed;
    top:0;
    border: 1px black solid;
}
#content{
    float:left;
    display:table;
    position:absolute;
    left:20%;
    width:60%;
    border:1px solid black;
}
.center{
    margin:0 auto;
}